[Poppins](https://fonts.google.com/specimen/Poppins);
[open Sans](https://fonts.google.com/specimen/Open+Sans);
*{
    margin: 0;
    padding: 0;
    /* max-width: 1440px; */
}

.container{
    padding: 0px 60px;
}
.container .logo img{
    width: 15%;
    margin-top: 50px;
}
 body{
    background-image: url(images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);
 }

 /* .hero-section   ----start---- */
.hero-section{
    display: flex;
    margin-top: 50px;
   
}

.hero-section-right{
    margin: 40px;
    align-items: center;
}
.hero-section-right h1{
    color: #fff;
    font-Family: Poppins;
    font-weight: 600;
}
.hero-section-right p{
    color: #fff;
    font-family: open sans;
    font-weight: 200;
    line-height: 1.4em;
    word-spacing: .2em;
}
.hero-section-right .link{
    margin-top: 30px;
}
.hero-section-right .link a{
    background-color: #fff;
    padding: 15px 50px;
    text-decoration: none;
    color: gray;
    border-radius: 30px;
    margin-top: 40px 0px;
}
.hero-section-right .link a:hover{
    background-color: hsl(300, 69%, 71%);
    color: #fff;
    transition: .5s;
}
/* .hero-section   ----end---- */

/* social icons and footer  ---start---- */
.social-link{
    display: flex;
    justify-content: end;
    color: #fff;
    
}
.social-link .fa-brands{
    border: #fff solid 2px;
    border-radius: 50%;
    padding: 7px;
    margin: 5px;
}
.social-link .fa-brands:hover{
    color: hsl(300, 69%, 71%);
    border: hsl(300, 69%, 71%) 2px solid;
    transition: .5s;
}

footer .footer-text{
    display: flex;
    justify-content: center;
    color: #fff;
    margin-top: 70px;
}
footer .footer-text a{
    color: #333;
    text-decoration: none;

}
footer .footer-text a:hover{
    color: #fff;
    transition: 1s;
}
/* social icons and footer  ---ends---- */


/* responsive design ---start--- */
/* we were given a width of 375px for the mobile view
but it was not responding to my screen so i used 600px */
@media(max-width: 600px){
    body{
        background-image: url(images/bg-mobile.svg);
    }
    .container .logo img{
        width: 50%;
    }
   .hero-section{
    flex-direction: column;
   }
   
   .hero-section .hero-section-left img{
    width: 100%;
   }

   .hero-section-right{
    text-align: center;
   }
   .hero-section-right h1{
    font-size: 21px;
   }
   
   .social-link{
    justify-content: center;
    color: #fff;
    margin-top: 30px;
    }
    footer .footer-text{
        text-align: center;
    }

}
/* responsive design ---ends--- */
 


